#suplementacao {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/peso-direita.png') top right no-repeat,
        url('img/peso-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#suplementacao .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.alto-contraste #suplementacao {
    background: none;
}
